* {
    padding: 0;
    margin: 0;
    
}

.icon {
    padding-right: 1px;
}

.naira {
    padding-right: 5px;
}

body {
    background-image: url('pictures/bg3.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}


.home {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.shop {
    padding-right: 10px;
}

nav {
    background-color: rgb(9, 78, 124);
    height: 75px;
    margin-top: 30px;
    text-align: right;
}


li {
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
    margin-top: 20px;
    
}


a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.in-1 {
    margin-block: 40px;
    height: 60px;
    width: 550px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mag {
    height: 60px;
    padding-top: 3 px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60px;
    margin-left: -5px;
    border: none;
    background-color: rgb(9, 78, 124);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.mag:hover {
    background-color: rgb(20, 110, 170);
    color: white;
}

.signup {
    text-align: center;
}

.log, .sign {
    height: 60px;
    width: 130px;
    font-size: 20px;
    border: none;
    border-width: 1px;
    cursor: pointer;
    color: rgb(9, 78, 124);
}

.log {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
}

.sign {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
}

.pro {
    display: inline-block;
}

.magic {
    display: inline-block;
}

.main-pro {
    margin-left: 50px;
    margin-bottom: 100px;
}

.sec1 {
    background-color: white;
    display: inline-block;
    padding-block: 10px;
    padding-inline: 10px;
    margin-left: 50px;
    border-radius: 20px;
}

.img1 {
    height: 200px;
    border-radius: 20px;
}

.price {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-weight: bold;
}

.cart {
    background-color: rgb(28, 115, 196);
    border: none;
    padding-block: 5px;
    padding-inline: 14px;
    margin-left: 50px;
    border-bottom-right-radius: 20px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 10x;
    color: white;
    cursor: pointer;
}

.cart:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 78, 124);
    border-width: 1px;
}

.k4 {
    color: rgb(28, 115, 196);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.jjj, .jjjp {
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgb(28, 115, 196);
    color: white;
    font-weight: bold;
    border-color: white;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.jjj:hover {
    color: rgb(28, 115, 196);
    background-color: white;
    border: none;
}


.jjjp:hover {
    color: rgb(28, 115, 196);
    background-color: white;
    border: none;
}

.des {
    color: white;
    font-size: 20px;
    font-family: cursive;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: center;
}

span {
    color: Red;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
}

.numbers {
    justify-content: center;
    text-align: center;
}